@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
    background-color: #18181B;
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid #27272A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img_logo {
    height: 95%;
}

.footer_logo {
    height: 79px;
    width: 370px;
}

.header_elements {
    width: auto;
    height: 100%;
    text-align: center;
    margin-left: 150px;
    margin-right: 250px;
}

.fa {
    height: 20px;
    vertical-align: middle;
    margin-left: -245px;
}

.input_search {
    width: 235px;
    height: 40px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    color: #D0D5DD;
    border-radius: 4px;
    border: 1px solid #D0D5DD;
    background-color: #18181B;
    margin: 20px;
}

.menu_item {
    margin: 20px;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
}

.promo {
    background-color: #18181B;
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: row;
}

.promo_left_section {
    text-align: center;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo_title {
    margin: 30px auto;
    display: flex;
    width: 346.203px;
    height: 127.08px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
}

.promo_desc {
    margin: 20px auto;
    display: flex;
    width: 318.664px;
    height: 68.835px;
    flex-direction: column;
    flex-shrink: 0;
    color: #A1A1AA;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
}

.btn_search_tours {
    margin: 20px auto;
    display: flex;
    width: 287px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #FFF;
    text-decoration: none;
    color: #18181B;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
}

.promo_right_section {
    width: 70%;
    overflow: hidden;
}

.promo_skew_text {
    margin: 0 auto;
    width: auto;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    line-height: 100px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.frames_img {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.column {
    float: left;
    flex: 30%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.tours {
    height: 200px;
    width: 100%;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.city {
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #CDCDCD;
    background: #FFF;
    width: 228px;
    height: 52px;
    flex-shrink: 0;
    color: #000;
    font-size: 18px;
}

.city a {
    color: #2A90CB;
}

.city p {
    display: inline-block;
    line-height: 52px;
    margin-left: 15px;
}

.bar_info {
    border-radius: 0px 10px 10px 10px;
    background: #fff;
    width: 100%;
    height: 75px;
    border: 1px solid #CDCDCD;
    display: flex;
}

.bar_info_item {
    width: 20%;
    padding: 10px;
    height: 100%;
    border-right: 1px solid #CDCDCD;
}

.bar_info_item img {
    width: 25px;
    height: 32px;
    float: left;
    margin: 10px;
}

.hint_text {
    color: #95827F;
    font-size: 16px;
}

.city_text {
    margin-top: 5px;
    color: #000;
    font-size: 18px;
}

.bar_info_item_end {
    height: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(90deg, #1DE1CA 0%, #59F167 100%);
}

.bar_info_item_end a {
    line-height: 55px;
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    text-align: center;
    margin: auto;
}

.section {
    padding: 50px auto;
    text-align: center;
}

.section_title {
    color: #18181B;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 40px;
}

.sale_card {
    background: linear-gradient(180deg, rgba(42, 217, 229, 0.31) 0%, rgba(87, 241, 108, 0.31) 22.19%, rgba(27, 205, 65, 0.20) 28.96%, rgba(42, 229, 183, 0.00) 100%);
    width: 18%;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.stars {
    margin: auto;
    background-image: url("img/icons/star.png");
    background-repeat: repeat-x;
    background-size: 39px;
    width: 71%;
    background-position: center;
    height: 50px;
}

.card_title {
    color: #000;
    font-size: 22px;

}

.card_desc {
    color: #95827F;
    font-size: 20px;
}

.mini_bar {
    width: 25%;
    border: none;
    text-align: center;
    margin: 5px auto;
}

.bar_info_mini {
    background: none;
    border: none;
}

.mini_bar p {
    color: #000;
    font-size: 16px;
}

.mini_bar img {
    width: 25px;
    height: 25px;
}

.price_card {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #000;
    font-size: 20px;
}

.sale_card a {
    display: inline-block;
    margin: 0 auto;
    border-radius: 20.5px;
    background: #55F06E;
    color: #000;
    font-size: 20px;
    width: 175px;
    line-height: 41px;
    height: 41px;
    text-decoration: none;
    letter-spacing: 2.1px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section_feeds {
    border-top: 5px solid black;
    padding-top: 40px;
}

.section_desc {
    color: #52525B;
    text-align: center;
    font-size: 32px;
    line-height: 26px;
}

.feeds_container {
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 58px;
    width: 70%;
    height: 337px;
}

.feeds_bg {
    background: linear-gradient(89deg, #C1FBDE 0%, #CAD8FB 27.40%, #E0C5F2 52.40%, #FBD4C5 77.71%, #F6F8D0 100%);
    width: 100%;
    height: 100%;
    background-size: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 0 auto;
}

.feed_card {
    background-color: rgb(254, 255, 246);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    padding: 13px;
    height: 262px;
    box-shadow: -5px 4px 0px rgba(107, 103, 103, 0.205);
}

.feed_card img {
    display: block;
    width: 25%;
    margin-bottom: 10px;
}

.feed_text {
    color: #52525B;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 17.5px;
}

.feed_name {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.feed_name p {
    line-height: 40px;
}

.feed_name img {
    height: 40px;
    width: 40px;
}

.subscribe {
    padding-top: 50px;
    margin-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    height: 189px;
    background: linear-gradient(180deg, #21FF90 0%, rgba(233, 251, 242, 0.00) 100%);
}

.subscribe_title {
    color: #000;
    font-size: 50px;
    font-weight: 600;
    line-height: 66px;
}

.subscribe_desc {
    color: #95827F;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
}

.subscribe_left_section {
    width: 30%;
    display: flex;
    float: left;
    flex-direction: column;
    text-align: left;
    padding-left: 60px;
}

.subscribe_right_section {
    float: right;
    width: 35%;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.hint_search_email_text {
    color: #090914;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.additional_hint_text {
    color: #64748B;
    font-size: 14px;
    line-height: 22px;
}

.additional_hint_text a {
    color: #64748B;
}

.email_form {
    display: flex;
    padding: 5px;
    flex-direction: row;
    width: 90%;
}

.email_form input {
    width: 80%;
    height: 54.947px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #CBD5E1;
    background: #F8FAFC;
    padding: 10px;
    font-size: 16px;
    line-height: 28px;
}

.email_form a {
    margin-left: 15px;
    text-decoration: none;
    border-radius: 9px;
    background: #2563EB;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.2px;
    display: flex;
    width: 20%;
    height: 44px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

footer {
    margin-top: 150px;
    width: 100%;
    padding: 50px;
    height: 500px;
    background-color: #18181B;
}

.footer_menu_item {
    text-decoration: none;
    color: #64748B;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
}

.footer_menu_selected_item {
    color: #FFF;
    font-size: 20px;
}

.footer_text {
    margin-top: 15px;
    display: block;
    text-align: center;
}

.footer_number {
    color: #EFEFEF;
    text-align: center;
    font-size: 26px;
    line-height: 26px;
}

.footer_text_number {
    margin-left: 10px;
}

.footer_right_section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.to_up_btn {
    position: fixed;
    width: 90px;
    height: 90px;
    right: 30px;
    bottom: 30px;
}